@font-face {
  font-family: "Geometria-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Geometria-Medium.woff2") format("woff2"),
    url("../fonts/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Philosopher-Italic";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Philosopher-Italic.woff2") format("woff2"),
    url("../fonts/Philosopher-Italic.woff") format("woff");
}

@font-face {
  font-family: "Geometria-HeavyItalic";
  font-weight: 800px;
  font-display: swap;
  src: url("../fonts/Geometria-HeavyItalic.woff2") format("woff2"),
    url("../fonts/Geometria-HeavyItalic.woff") format("woff");
}

@font-face {
  font-family: "Philosopher";
  font-weight: 400px;
  font-display: swap;
  src: url("../fonts/Philosopher-Regular.woff2") format("woff2"),
    url("../fonts/Philosopher-Regular.woff") format("woff");
}

body {
  min-width: 320px;
  font-family: "Philosopher-Italic", "Arial", sans-serif;
  font-size: 9px;
}

img {
  max-width: 100%;
  height: auto;
}

.first-screen {
  position: relative;
  height: 100vh;
  min-height: 568px;
  background-color: #f7e611;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-screen__logo {
  position: relative;
  margin-left: 6.25%;
  margin-top: 4.67%;
  width: 7.18%;
  height: auto;
  z-index: 5;
}

.first-screen__logo svg {
  width: 100%;
  height: auto;
}

.main-nav {
  position: relative;
  top: -48%;
  border: 1px solid #000;
  border-right: none;
  width: 47.7%;
  min-height: 100%;
  transform: skewY(7deg);
}

.main-nav__toggle {
  position: absolute;
  display: block;
  top: 54%;
  right: 13%;
  width: 20px;
  height: 14px;
  transform: skewY(-7deg);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000;
}

.first-screen__title {
  display: none;
}

.first-screen__tagline {
  position: absolute;
  top: 35%;
  left: 4%;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 0.526rem;
  opacity: 0.5;
  font-weight: 400;
  z-index: 6;
}

.first-screen__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.wrapper--top {
  height: 35vh;
}

.wrapper--middle {
  box-sizing: border-box;
  position: relative;
  margin-top: -20vh;
  padding-top: 22vh;
  max-height: 35vh;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, rgba(247,230,17, 0.8) 50%, rgba(247,230,17, 0.8) 50%), url("../img/kaboompics-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: right 27vw top 0;
  z-index: 2;
  background-size: 87% 100%;
}

.first-screen__letter {
  box-sizing: border-box;
  font-family: "Geometria-Medium", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3.75rem;
  vertical-align: baseline;
  color: transparent;
  -webkit-text-stroke: 1px #000;
}

.first-screen__letter--a {
  position: absolute;
  top: 39%;
  left: 21%;
  z-index: 4;
}

.first-screen__letter--g {
  width: 60%;
  padding-left: 45%;
}

.first-screen__letter--e {
  margin-top: -14vh;
  width: 17%;
  padding-left: 4%;
}

.wrapper--middle svg {
  width: 7%;
  height: auto;
  padding-bottom: 4%;
  padding-right: 9%;
}

.first-screen__slider {
  flex-grow: 1;
  height: 56vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -5.5vh;
  background-color: #F7E611;
  background-image: linear-gradient(135deg, rgba(247,230,17, 0.8) 60.5%, #F7E611 60.5%), 
    url("../img/photo-bg-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0, left -37vw top 0;
  background-size: 175% 100%;
  z-index: 2;
}

.first-screen__slider__controls {
  margin-top: 25.5vh;
  padding-bottom: 4.2vh;
  margin-bottom: auto;
  align-self: flex-end;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn--right {
  margin-right: 12px;
  margin-left: auto;
}

.first-screen__btn {
  background-color: transparent;
  border: none;
}

.wrapper--slider {
  align-items: flex-end;
}

.wrapper--slider svg:first-child {
  box-sizing: border-box;
  margin-bottom: 10%;
  padding-left: 7%;
  width: 28%;
}

.wrapper--slider svg:nth-child(2) {
  align-self: center;
  transform: translateY(50%);
  width: 32.25%;
  height: auto; 
}

.wrapper--slider span {
  padding-left: 15%;
  box-sizing: border-box;
  padding-bottom: 7%;
  font-family: "Geometria-HeavyItalic", "Arial", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
  width: 28%;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .wrapper--middle {
    background-image: linear-gradient(to right, rgba(247,230,17, 0.8) 50%, rgba(247,230,17, 0.8) 50%), url("../img/kaboompics-mobile@2x.jpg");
  }
  .first-screen__slider {
    background-image: linear-gradient(135deg, rgba(247,230,17, 0.8) 60.5%, #F7E611 60.5%), url("../img/photo-bg-mobile@2x.jpg");
  }
}

@media (min-width: 768px) {
  .first-screen__letter {
    font-size: 7rem;
  }

  .first-screen__tagline {
    font-size: 2rem;
  }

  .wrapper--slider span {
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
  }

  .main-nav {
    border-width: 2px;
  }

  .wrapper--middle {
    background-image: linear-gradient(to right, rgba(247,230,17, 0.8) 50%, rgba(247,230,17, 0.8) 50%), url("../img/kaboompics-tablet@1x.jpg");
  }

  .first-screen__slider {
    background-image: linear-gradient(135deg, rgba(247,230,17, 0.8) 60.5%, #F7E611 60.5%), url("../img/photo-bg-tablet@1x.jpg");
  }
}
/*  */

@media (min-width: 1340px) {
  .container {
    margin: 0 auto;
    width: 1300px;
    padding: 0 20px;
  }

  .first-screen {
    background-color: #fff;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .wrapper--top {
    position: relative;
    width: 100%;
  }

  .main-nav {
    border: none;
    width: 60px;
    min-height: auto;
  }
  .first-screen__logo {
    margin: 0;
  }
    
  .first-screen__logo svg {
    width: 34px;
    height: 34px;
  }

  .first-screen__title {
    display: block;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateY(-50px) translateX(-50%);
    font-family: "Philosopher", "Arial", sans-serif; 
    text-transform: uppercase;
    font-size: 140px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 50.4px;
    background-color: #f7e611;
  }

  .wrapper--middle, .first-screen__slider {
    background: none;
  }
}
